.container{
	width:968px;
	margin: 0 auto;
}

.top-image{
	background-image: url("../images/coworking.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.post-ghost{
	padding:40px;
	text-align: center;
    width: 300px;
    height: 350px;
    margin: 30px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    float: right;

}
.post-ghost a{
	background-color: yellow;
	text-decoration: none;
	color: black;
	padding: 10px 25px;
	font: 
}





.column {
	float: left;
	width: 17%;
	border-right: 2px solid #ccc;
	margin-right: 20px;

}
.post h3 a{
	text-decoration: none;
	color: black; 
	background-color: #ccc;
	padding: 5px 15px;
	border-bottom: 2px solid gray;
	border-radius: 5%;
}

