main:after{
	clear: both;
	display: table;
	content: ""
}
.container{
	width:968px;
	margin: 0 auto;
	background-color: #fff;

}

.top-image{
	background-image: url("../images/coworking.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.post-ghost{
	padding:40px;
	text-align: center;
    width: 280px;
    height: 350px;
    margin: 30px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    float: right;

}
.post-ghost a{
	background-color: yellow;
	border-bottom: 2px solid yellow;
	border-radius: 10%;
	text-decoration: none;
	color: black;
	padding: 10px 25px;
	}


.header h1 {
	font-family:'Merriweather Sans', sans-serif;
	color: yellow;
	font-size: 36px;



}

.header nav a{
	font-family:'Oswald', sans-serif;
	font-size: 30px;


}

.container-2 nav a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;

}


footer{
	font-family:'Source Sans Pro', sans-serif;
	/*margin: 170px 0 0 220px;*/

	width:968px;
	height: 50px;
	background-color: black;
	color: #fff; 
	
}

footer p{
	position: relative;
	top: 16px;
	margin-left: 20px;

}

.column {
	float: left;
	width: 31%;
	border-right: 2px solid #ccc;
	margin-right: 20.5px;
	background-color: white;
}

.column3 {
	float: left;
	width: 31%;
	margin-right: 20.5px;
	background-color: white;
}

.post h3 a{
	text-decoration: none;
	color: black; 
	background-color: #ccc;
	padding: 10px 10px;
	border-bottom: 2px solid gray;
	border-radius: 15%;
}

.tag-line{
	font-family:'Merriweather Sans', sans-serif;
	text-align: center;
	width:968px;
	height: 50px;
	padding-top: .5px;
	padding-bottom: 20px;
	background-color: #ccc;
	color: black; 
	border-top: 3px solid yellow;
}
del {

	color: gray;
}

ins {
	color: yellow;
}
