/*

Asaph Outlaw
J. Daniel Cox

Team AceD
General Assembly
Front End Web Development
Week 3: Class 1: Git & Bootstrap Layout
Startup Matchmaker

*/

/*Overall styles*/

* {

	margin: 0;
	padding: 0;


}


.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;

	
}

/*Header*/


.startup-header {
	color: yellow;
	background-color: black;
	height: 130px;
}

.startup-header h1 {
	
	font-family: 'Merriweather';
	font-size: 30px;
	margin: 0;
	padding: 20px;

}

.startup-header:after {

content: "";
display: table;
clear: both;
}

.header-nav ul {

	 list-style-type: none;
	 display: block;
	 list-style-type: none;
  	 margin: 0;
   	 padding: 6px 34px 1px 1px;
	 color: white;
	 float: right;
}


.header-nav li:nth-child(1) {
  	
  	text-transform: uppercase;
  	font-family: 'Oswald', sans-serif;
  	font-weight: bold;

}


.header-nav li:nth-child(2) {
	
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;

 
}



.header-nav li {
	
	font-family: 'Source Sans Pro';
	font-size: 20px;
	display: inline;
	margin-left: 15px;
	

}




.header-nav	a {
	display: inline;
	text-decoration: none;

}

.header-nav a:link {
	text-decoration: none;
	color: white;
}
.header-nav a:visited {
	text-decoration: none;
	color: white;

}

.header-nav a:hover	{
	text-decoration: none;
	color: white;
}

.header-nav a:active {
	text-decoration: none;
	color: white;
}


/*tagline section*/


del {  
	
	color: #646262;

}

.are-underline {
	border-bottom: yellow 3px solid;
}

.tagline {

	background-color: #c6c6c6;
	height: 65px;
	border-top: solid 3px #f8ff00;
	text-align: center;
	vertical-align: middle;



}

.tagline h2 {

	font-family: 'Merriweather';
	font-size: 22px ;
	font-variant: italic;

}


.tagline:after {

content: "";
display: table;
clear: both;



}

/*Meet you match section*/

.main-image {

	background-image: url(../img/coworking.jpg);
	background-size: cover; 
	background-color: #cccccc;
	height: 450px;
	width: 100%

}

.main-image:after {

	content: "";
	display: table;
	clear: both;
}

.main-image h2 {
	margin: 0;
}

.Meet-Match p {
	font-size: 18px;
	font-weight: 500;
	padding-top: 8px;

}


.image-overlay {

	box-shadow: 1px 1px 10px 1px #7D807D;
	height: 400px;
	width: 315px;
	float: right;
	 background: rgba(255,255,255,0.7);
	/*	background: rgba(0,0,0,0.5);*/
	margin: 23px;
}

.image-overlay:after {
content: "";
display: table;
clear: both;
}


.Meet-Match {

	padding: 30px;

}


.Meet-Match h2 {

	font-family: 'Source Sans Pro';
	font-size: 30px ;
	font-weight: bold;	
	
}

.Meet-Match:after {
	content: "";
	display: table;
	clear: both;

}

p {
	line-height:30px;
	font-size: 18px;
	font-weight: 500;
	padding-top: 8px;
}

#Meet-Match  {
	box-shadow: 0px 3px 0px #BEBA0F;
	margin-top: 10px;
	padding-top: 12px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	float: left;
	display: block;
	border-radius: 5px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	background-color: yellow;
	border: 10px, solid, yellow;
	height: 50px;
	width: 250px;
}

#Meet-Match:link {
	text-decoration: none;
	color: black;
	background-color: yellow;
	border-color: yellow;
}

#Meet-Match:visited {
	text-decoration: none;
	color: black;
	background-color: yellow;
	border-color: yellow;
}

#Meet-Match:hover	{
	text-decoration: none;
	color: black;
	background-color: yellow;
	border-color: yellow;
}

#Meet-Match:active {
	text-decoration: none;
	color: black;
	background-color: yellow;
	border-color: yellow;
}

p:after {
	content: "";
	display: table;
	clear: both;
}




.header-nav:active {
	text-decoration: none;
	color: white;
}


/* Columns Section */




/* bootstrap row reset*/

.row {

	margin: 0; 
}

/* bootstrap row reset*/


.row {
 
	height: 300px

}



.col-sm-4 {

 border-right: 2px solid #ddd;
 padding: 20px;
 margin-top: 20px;

}

.sign-up {
	font-family: 'Merriweather';
	font-size:  25px;
	font-weight: 800;


}


.col-sm-4 p {
	
/*	margin-bottom: 40px;*/
	font-family: 'Source Sans Pro';
	font-size: 18px;

	

}

.col-sm-4:last-child {

	border: none;

}

/* footer section*/

footer {

	height: 55px ;
	background-color: #000;
	vertical-align: middle;
	color: #fff;
}


.copyright {

	vertical-align: middle;
	padding-top: 16px;
	padding-left: 20px;

}


