
.container {
	width: 800px;
	margin: 0 auto;

	
}

.tagline {

	background-color: #c6c6c6;
	height: 50px;
	border-top: solid 3px #f8ff00;
	text-align: center;
	padding-bottom: 75px;
}

.tagline:after {
	display: table;
    clear: both;
    content: "";

}

.underline {
	border-bottom: 3px solid yellow;
	padding-bottom:0px;

}

.line-through {
	text-decoration:line-through;
	color: #878787;

}

.startup-header {
	color: yellow;
	background-color: black;
	height: 140px;
}

.startup-header h1 {
	font-size: 40px;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.startup-header:after {
    display: table;
    clear: both;
    content: "";
}

.header-nav ul {

	 background-color: black;
	 list-style-type: none;
	 display: block;
	 color: white;
}

.header-nav {
	margin-left:296px;
}



.header-nav	a {
	display: inline;
	text-decoration: none;

}

.header-nav a:link {
	text-decoration: none;
	color: white;
}
.header-nav a:visited {
	text-decoration: none;
	color: white;

}

.header-nav a:hover	{
	text-decoration: none;
	color: white;
}

.header-nav a:active {
	text-decoration: none;
	color: white;
}

.header-nav:after {

    display: table;
    clear: both;
    content: "";
}

.find {
	font-size: 25px;
	float: left;
	margin-left: 25px;
	font-weight: bold;

}

.small1 {
	font-size: 20px;
	color: white;
	float: left;
	padding-top: 6px;
	margin-left: 25px;


}

img {
	width:100%;
}

.image-overlay {
	/*position:relative;*/
	background-image: url(../img/coworking.jpg);
	height: 450px;
	width:100%;

}

.image-overlay:after {
	display: table;
    clear: both;
    content: "";
}

.box {
	float: right;
	margin: 23px;
	top: 40px;
	left: 650px;
	width: 40%;
	height: 90%;
	box-shadow: 1px 1px 2px 1px;
	background-color: rgba(255, 255, 255, .5);
}

   

.image-overlay h1 {
	font-weight: bold;
	text-align: center;
	padding-top: 30px
}

.Meet-Your-Match {
		text-align: center;
		font-size: 40px;
		font-family: sans-serif;
		font-weight: bold;
		
		
}

.match-box {
	margin-left: 30px;
	margin-right: 40px; 
	text-align: left;
	padding-top: 30px; 
	padding-left: 20px;

}

.match-box p {
	font-size: 30px;
}

.create-profile {

	top: 500px;
	left: 50px;
	width: 72%;
	height: 15%;
	background-color: yellow;
	box-shadow: 1px 1px 2px 1px yellow;

}




footer {

	background-color: #000;
	
}



