
.container {
	width: 800px;
	margin: 0 auto;

	
}

.tagline {

	background-color: #c6c6c6;
	height: 50px;
	border-top: solid 3px #f8ff00;
	text-align: center;
	padding-bottom: 75px;
}

.underline {
	border-bottom: 3px solid yellow;
	padding-bottom:0px;

}

.line-through {
	text-decoration:line-through;
	color: #878787;

}

.startup-header {
	color: yellow;
	background-color: black;
	height: 100px;
}

.startup-header h1 {
	padding-top: 10px;
}

.startup-header:after {
    display: table;
    clear: both;
    content: "";
}

.header-nav ul {

	 background-color: black;
	 list-style-type: none;
	 display: block;
	 color: white;
}

.header-nav {
	margin-left:296px;
}



.header-nav	a {
	display: inline;
	text-decoration: none;

}

.header-nav a:link {
	text-decoration: none;
	color: white;
}
.header-nav a:visited {
	text-decoration: none;
	color: white;

}

.header-nav a:hover	{
	text-decoration: none;
	color: white;
}

.header-nav a:active {
	text-decoration: none;
	color: white;
}

.header-nav:after {

    display: table;
    clear: both;
    content: "";
}

.find {
	font-size: 20px;
	float: left;
	margin-left: 25px;

}

.small {
	font-size: 10px;
	color: yellow;
	float: left;
	padding-top: 8px;
	margin-left: 25px;


}



footer {

	background-color: #000;
	
}


